<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.boot.pagehelper.dao.MaintainSuggestionMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="spring.boot.pagehelper.domain.MaintainSuggestion">
        <id column="maintain_suggestion_id" property="maintainSuggestionId" />
        <result column="suggestion" property="suggestion" />
        <result column="user_id" property="userId" />
        <result column="suggestion_type" property="suggestionType" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        maintain_suggestion_id, suggestion, user_id, suggestion_type, status, create_time
    </sql>

</mapper>
