<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.boot.pagehelper.dao.MaintainHandleMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="spring.boot.pagehelper.domain.MaintainHandle">
        <result column="maintain_handle_id" property="maintainHandleId" />
        <result column="handle_time" property="handleTime" />
        <result column="handle_step" property="handleStep" />
        <result column="handle_info" property="handleInfo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        maintain_handle_id, handle_time, handle_step, handle_info
    </sql>

</mapper>
